{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "singleQuote": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "semi": false,
    "tabWidth": 2,
    "printWidth": 120,
    "useTabs": false,
    "arrowParens": "avoid",
    "importOrder": [
      "<THIRD_PARTY_MODULES",
      "^@/components/(.*)$",
      "^@/providers(.*)$",
      "^@/data(.*)$",
      "^@/hooks/(.*)$",
      "^@/helpers/(.*)$",
      "^@/config/(.*)$",
      "^@/store/(.*)$",
      "^@/shared/(.*)$",
      "^@/data/(.*)$",
      "^@/styles/(.*)$",
      "^../(.*)$",
      "^./(.*)$",
      "^(.scss)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }
  